/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e cores globais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    color: #2c3e50;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

/* Navegação */
nav ul {
    list-style: none;
    padding: 10px;
    text-align: center;
    background-color: #34495e;
    margin-top: 0px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #2980b9;
}

/* Main Content */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Section de Novo Post */
#new-post {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#new-post h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#new-post textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    resize: vertical;
    margin-bottom: 15px;
}

#new-post button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#new-post button:hover {
    background-color: #2980b9;
}

/* Feed */
#feed {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#feed h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #34495e;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav ul {
        padding: 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    #new-post textarea {
        width: 100%;
        font-size: 1rem;
    }

    #new-post button {
        width: 100%;
    }
}
