<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('login')}}">Login</a></li>
            <li><a href="{{ url_for('register')}}">Register</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </nav>

    <div class="login-container">
        <h1>Login</h1>

        <!-- Exibe mensagem de erro, caso exista -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li style="color: red;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- Formulário de login -->
        <form action="{{ url_for('login') }}" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Entrar</button>
        </form>
    </div>
</body>

</html>
